* {
   margin: 0;
   box-sizing: border-box;
   &::before,
   &::after {
      box-sizing: border-box;
      
   }
}

ul,
ol {
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
   display: block;
}

button {
   border: none;

}

img {
   display: block;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.container {
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
}