
.header {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 53px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  &__nav {
    margin-left: 144px;
    margin-right: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 70px;
    li {
      position: relative;
      :hover::before{
        background: #FFFFFF;
      }
      a {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        white-space: nowrap;
      }
    }
    li::before {
      content: "";
      width: 9px;
      height: 9px;
      position: absolute;
      cursor: pointer;
      border: 1px solid;
      border-color: white;
      border-radius: 50%;
      top: 5px;
      left: -14px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }

  }
  &__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;

    :hover {
      opacity: 0.8;
    }
  }
}
li:hover::before{
  background: #FFFFFF;
}
.section-main {
  position: relative;
  width: 100%;

  background: url("../img/Header.jpg") no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 330px;
  &__title {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    }
  &__subtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    }
  &__scroll {
    padding-top: 240px;
    margin-bottom: 50px;
    img{
      margin: 0 auto;
    }
    :hover {
      opacity: 0.8;
    }
  }
}
.whatwedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 150px;
  &__title{
    position: relative;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
  }
  &__project {
    margin-bottom: 130px;
    margin-right: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 70px;
    width: 100%;
    padding: 0 15px 0 0;
  }
  &__info{
    width: 100%;
    max-width: 470px;
    margin-top: 150px;
  }
  .whatwedo__info--title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
  }
  .whatwedo__info--caption{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2C4058;
    margin-bottom: 20px;
  }
  .whatwedo__info--description{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #2C4058;
    margin-bottom: 40px;
  }
  .btn1 {
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
    background: white;
    padding: 16px 41px;
    border: 1px solid #2C4058;
  }

  &__block-photos1{
    position: relative;
    width: 100%;
    max-width: 845px;
  }
  .block-photos1__photo1{
    position: absolute;
    top: 0;
    left: 0;
  }
  .block-photos1__photo2{
    position: absolute;
    top: 57px;
    left: 215px;
  }
  &__project2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 75px;
    width: 100%;
    padding: 0 0 0 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  &__info2{
    width: 100%;
    max-width: 480px;
    margin-top: 150px;
  }
  .whatwedo__info--title2 {
    white-space: nowrap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
  }
  .whatwedo__info--caption2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2C4058;
    margin-bottom: 20px;
  }
  .whatwedo__info--description2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #2C4058;
    margin-bottom: 40px;
  }

    .whatwedo__block-photos2{
    position: relative;
    width: 100%;
    height: 550px;
    max-width: 845px;
    }
    .block-photos2__photo1{
      position: absolute;
      top: 0;
      right: 0;
    }
    .block-photos2__photo2{
      position: absolute;
      top: 57px;
      right: 215px;
    }
    .btn2 {
      margin-bottom: 60px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      cursor: pointer;
      background: white;
      padding: 16px 41px;
      border: 1px solid #2C4058;
    }
}

.whatwedo__title::before{
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  position: absolute;
  background: #2C4058;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news {
  background: url('../img/Background-news.png')no-repeat center center;
  background-size: cover;
  padding-top: 150px;

  &__title{
    position: relative;
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
  }
  &__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding-bottom: 170px;
    min-width: 0;
    max-width: 1200px ;
    width: 100%;
  }
  .column__title, .column__description, .column__autor-info {
    background: white;
    max-width: 370px;
    width: 100%;
    min-width: 0;
  }
  .column__title {
    padding: 30px 20px 15px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #2C4058;
  }
  .column__description {
    padding: 0 20px 40px 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2C4058;
  }
  .column__autor-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 0 0 30px 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .autor-info__image{
    border-radius: 50%;
  }
  .autor-info__description{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    gap: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #55B7FF;
  }
  .autor-info__name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #2C4058;
  }

  .news__title::before{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #FFFFFF;
  }
}

.gallery{
  padding-top: 120px;
  padding-bottom: 150px;
  &__title{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
    margin-bottom: 90px;
  }
  &__images{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(4, 1fr);;
    -ms-grid-rows: 1fr 10px 1fr;;
    grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
                    "pic1 pic1 pic2 pic3"
                    "pic1 pic1 pic4 pic5";
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    grid-gap: 10px;
    margin-bottom: 60px;
  }
  .gallery__title::before{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #2C4058;
  }
  &__btn{
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
    background: white;
    padding: 16px 41px;
    border: 1px solid #2C4058;
  }
}
.pic1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pic1;
}
.pic2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: pic2;
}
.pic3 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: pic3;
}
.pic4 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: pic4;
}
.pic5 {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: pic5;
}

.contact {
  position: relative;
  height: 700px;
  background: url('../img/background-form.png')no-repeat center center;
  background-size: cover;
  &__info{
    position: absolute;
    top: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    max-width: 770px;
    width: 100%;
    background: #FFFFFF;
    padding-top: 90px;
  }
  &__title {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
  }
  &__table{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 42px 60px 68px 60px;
  }
  &__form{
    :first-child{
      margin-bottom: 43px;
    }
    input{
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid #2C4058;
      outline: none;
      width: 310px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
    }
    input::-webkit-input-placeholder{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4B5562;
      opacity: 0.5;
    }
    input::-moz-placeholder{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4B5562;
      opacity: 0.5;
    }
    input:-ms-input-placeholder{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4B5562;
      opacity: 0.5;
    }
    input::-ms-input-placeholder{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4B5562;
      opacity: 0.5;
    }
    input::placeholder{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #4B5562;
      opacity: 0.5;
    }
  }
  &__btn{
    margin-top: 40px;
    float: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding: 12px 34px;
    border: 1px solid #2C4058;
    background: #FFFFFF;
 
  }
  &__list{

    p{
      margin-bottom: 30px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
    }
    
 

  .contact__title::before{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #2C4058;
  }
}
.contact__btn:hover{
  opacity: .6;
  cursor: pointer;
}
.btn1:hover{
  opacity: .6;
  cursor: pointer;
}
.btn2:hover{
  opacity: .6;
  cursor: pointer;
}
.gallery__btn:hover{
  opacity: .6;
  cursor: pointer;
}
.footer{
  background: url('../img/Background-footer.png') no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 253px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  gap: 370px;
  p{
    margin-top: 40px;
    margin-bottom: 234px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
  }
}